<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
      <!-- 收藏功能 -->
      <% if current_user && current_user.is_favorite_of?(product) %>
      <%= link_to("取消收藏",favorite_product_path(product, type:"unfavorite"), method: :put)%>
      <% else %>
      <%= link_to("添加收藏",favorite_product_path(product, type:"favorite"), method: :put) %>
      <% end %>
      <!-- 收藏功能止 -->
    </div>
  <% end %>
</div>
<!--2.25 分类功能 -->
<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("wow", wow_products_path) %>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("overwatch", overwatch_products_path) %>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("diablo", diablo_products_path) %>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("starcraft", starcraft_products_path) %>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("hearthstone", hearthstone_products_path) %>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("heroes", heroes_products_path) %>
              </li>
            </ul>
        </div>
        <!-- 分类功能止 -->
