  <div class="row index1">

  <div class="index2">
  </div>

    <!-- 以下为分类导航 -->
  <div class="col-md-2">
      <ul class="category-nav" >
        <li>
          <a href="/products/wow">
            <i class="category-wow"></i>
            <span>《魔兽世界》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/overwatch">
            <i class="category-overwatch"></i>
            <span>《守望先锋》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/diablo">
            <i class="category-diablo"></i>
            <span>《暗黑破坏神》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/starcraft">
            <i class="category-starcraft"></i>
            <span>《星际争霸》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/hearthstone">
             <i class="category-hearthstone"></i>
             <span>《炉石传说》</span>
             <span></span>
          </a>
        </li>
        <li>
          <a href="/products/heroes">
            <i class="category-heroes"></i>
            <span>《风暴英雄》</span>
            <span></span>
          </a>
        </li>
      </ul>
  </div>
  <!-- 分类导航止 -->
  <div class="col-md-10">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% elsif %>
          <%= image_tag(product.image_path, :width => 200, :height => 110,  class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <div>
      <%= product.title %> ￥ <%= product.price %>
      <!-- 收藏功能 -->
      <% if current_user && current_user.is_favorite_of?(product) %>
      <%= link_to("取消收藏",favorite_product_path(product, type:"unfavorite"), method: :put)%>
      <% else %>
      <%= link_to("添加收藏",favorite_product_path(product, type:"favorite"), method: :put) %>
      <% end %>
     </div>
      <!-- 收藏功能止 -->
    </div>
  <% end %>
  </div>
</div>
<!--2.25 分类功能 -->
