  <div class="row index1">

  <div class="index2 carousel slide" id="myCarousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="javascript:;">
          <a href="products/starcraft">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7ihescv8j318g08cjs4.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/hearthstone">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7iiaecubj318g08cdh1.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/overwatch">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7iid0m65j318g08c3zl.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/starcraft">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7j6kai1wj318g08cmy9.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/wow">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd7j7nky3dj318g08ct9r.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/wow">
          <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd7j92ea92j318g08cabe.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <a href="products/wow">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7j9we59hj318g08cq4a.jpg">
          </a>
          <div class="carousel-caption"></div>
        </a>
      </div>
    </div>
  </div>

    <!-- 以下为分类导航 -->
  <div class="col-md-2 col-xs-4">
      <ul class="category-nav" >
        <li>
          <a href="/products/wow">
            <i class="category-wow"></i>
            <span>《魔兽世界》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/overwatch">
            <i class="category-overwatch"></i>
            <span>《守望先锋》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/diablo">
            <i class="category-diablo"></i>
            <span>《暗黑破坏神》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/starcraft">
            <i class="category-starcraft"></i>
            <span>《星际争霸》</span>
            <span></span>
          </a>
        </li>
        <li>
          <a href="/products/hearthstone">
             <i class="category-hearthstone"></i>
             <span>《炉石传说》</span>
             <span></span>
          </a>
        </li>
        <li>
          <a href="/products/heroes">
            <i class="category-heroes"></i>
            <span>《风暴英雄》</span>
            <span></span>
          </a>
        </li>
      </ul>
  </div>
  <!-- 分类导航止 -->
  <div class="col-md-10 col-xs-8">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
       <div class="">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail ",style:"padding:0;border:2px") %>
          <% elsif %>
            <%= image_tag(product.image_path, class: "thumbnail ", style: "padding:0;border:2px") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail", style:"padding:0;border:2px") %>
          <% end %>
        <% end %>
       </div>
      <div class="productcard">
        <p><%= product.title %> ￥ <%= product.price %></p>
      <!-- 收藏功能 -->
        <p>
        <% if current_user && current_user.is_favorite_of?(product) %>
        <%= link_to("",favorite_product_path(product, type:"unfavorite"),class: "fa fa-heart fa-2x", style: "color:red" , method: :put)%>
        <% else %>
        <%= link_to("",favorite_product_path(product,  type:"favorite"),class: "fa fa-heart fa-2x", style: "color:gold" ,method: :put) %>
        <% end %>
      </p>
     </div>
      <!-- 收藏功能止 -->
    </div>
  <% end %>
  </div>
</div>
<!--2.25 分类功能 -->
